[Desktop Entry]
Name=usbsploit framework
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sudo usbcc"
Icon=/usr/share/usbsploit/desktop/icons/icon_2.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-exploitation-tools;
X-Kali-Package=usbsploit framework
Comment=USBSploit Framework, advanced USB explotation framework
